@font-face {
    font-family: Mulish;
    font-weight: 300;
    font-style: normal;
    src: url("fonts/woff2/Mulish-Light.woff2") format(woff2);
  }
  @font-face {
    font-family: Mulish;
    font-weight: 700;
    font-style: normal;
    src: url("fonts/woff2/Mulish-Bold.woff2") format(woff2);
  }